:root {
  --main-bg-color: #f7f7f7;
  --headline-color: #740499;
  --shadow-color: #9d81a7;
  --footer-background: #c8bdcb;
  --transition: 0.2s all ease-in-out;
}



body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--main-bg-color);
}

.App {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--main-bg-color);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1.5em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1,
h2,
h3 {
  color: var(--headline-color);
  font-family: 'Roboto Mono', monospace;
}

h2 {
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: 700;
}

h3 {
  font-size: 1.8em;
}

.section-header {
  display: flex;
  position: relative;
  z-index: 1;
  margin-bottom: 1em;
}

.section-header::before {
  background-color: #fc0;
  clip-path: polygon(100% 0px, 0% 100%, 100% 100%);
  width: 60px;
  height: 60px;
  left: -35px;
  content: '';
  position: absolute;
  top: -13px;
  z-index: -1;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}